body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(135deg, #a5b4fc 0%, #c4b5fd 100%);
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef2ff;
  color: #22223b;
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  padding: 40px 20px;
  border-radius: 4px;
  box-shadow: 0 8px 24px rgba(80, 80, 160, 0.15);
  border: 1px solid #a5b4fc;
  height: 500px; 
}
h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #4f46e5;
  letter-spacing: 1px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #37306b;
}
#start-btn {
  font-weight: bold;
  width: 200px;
  height: 50px;
  color: white;
  background-color: #7e22ce;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 12px rgba(80, 80, 160, 0.12);
  font-size: 1.1rem;
  cursor: pointer;
  transition:
    background 0.3s,
    box-shadow 0.3s,
    transform 0.2s;
}
#start-btn:hover {
  background-color: #a5b4fc;
  color: #22223b;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 8px 24px rgba(80, 80, 160, 0.18);
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.btn {
  font-weight: bold;
  width: 200px;
  height: 50px;
  color: white;
  background-color: #4f46e5;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  box-shadow: 0 2px 8px rgba(80, 80, 160, 0.1);
  cursor: pointer;
  transition:
    background 0.3s,
    color 0.3s,
    transform 0.2s;
}
.btn:hover {
  background-color: #a5b4fc;
  color: #22223b;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 8px 24px rgba(80, 80, 160, 0.18);
}

#next-btn {
  font-weight: bold;
  color: white;
  background-color: #c4b5fd;
  padding: 8px 0;
  border-radius: 8px;
  border: none;
  width: 200px;
  font-size: 1.1rem;
  box-shadow: 0 2px 8px rgba(80, 80, 160, 0.1);
  cursor: pointer;
  transition:
    background 0.3s,
    color 0.3s,
    transform 0.2s;
}
#next-btn:hover {
  color: #22223b;
  background-color: #a5b4fc;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 8px 24px rgba(80, 80, 160, 0.18);
}

#again-btn {
  font-weight: bold;
  width: 200px;
  height: 50px;
  color: white;
  background-color: #7e22ce;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  box-shadow: 0 4px 12px rgba(80, 80, 160, 0.12);
  cursor: pointer;
  transition:
    background 0.3s,
    color 0.3s,
    transform 0.2s;
}
#again-btn:hover {
  color: #22223b;
  background-color: #a5b4fc;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 8px 24px rgba(80, 80, 160, 0.18);
}
